body{
background: #4dc3ff;
}
.products{
display: flex;
align-items: center;
justify-content: center
flex-wrap: wrap;
}
.card{
border: 10px solid #118bd1;
display: flex;
align-items:center;
flex-direction: column;
padding: 10px;
margin: 20px;
border-radius: 100px;
top:50px;

}
.card img{
	width: 300px;
	height: 300px;
	border-radius: 100px;
}
.add_btn{
	background: #2253f2;
	color: white;
	border: 5px solid #118bd1;
	border-radius: 100px;
}

#cart_btn{
	background: #22adf2;
	color: white;
	border: 5px solid #118bd1;
	border-radius: 10px;
	position: fixed;
	top: 10px;
	left: 15px;
	font-size: 25.5px;
}
#cart{
	position: fixed;
	top:50px;
	left: 15px;
	background: #22adf2;
	border: 5px solid #118bd1;
	border-radius: 10px;
	padding: 10px;
	color: white;
	display: none;
}
